@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Silkscreen&display=swap');

header {
    font-family: Silkscreen;
    color: whitesmoke;
    border-bottom: 2px solid rgb(200, 130, 238);

}

html {
    background-image: url(../images/space_war-universe_photography_wallpaper_1366x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
   
}

body {
    margin: 0;

}

h1 {

    text-align: center;
    margin-top: 0;
}

h2 {
    font-family: Silkscreen;
}

.rep {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(200, 130, 238);
    box-shadow: 1px 2px violet, 0 0 1em violet, 0 0 1em rgb(216, 98, 216);
    width: 200px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.53);

}

.rep:hover {
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    gap: 40px;
    margin-top: 60px;
}

#ans {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 50px;
}

#resultCont {
    display: none;
    text-align: center;
    border: 2px solid violet;
    width: 25%;
    min-width: 95px;
    color: whitesmoke;
    box-shadow: 1px 2px violet, 0 0 1em violet, 0 0 1em rgb(216, 98, 216);

}

.divp {
    gap: 60px;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#end {
    display: none;
    text-align: center;
    font-size: 4em;
    border: 2px solid violet;
   
    color: whitesmoke;
    box-shadow: 1px 2px violet, 0 0 1em violet, 0 0 1em rgb(216, 98, 216);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:200px;
    height: 500px


}

#replay {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: center;
    border: 2px solid rgb(200, 130, 238);
    box-shadow: 1px 2px violet, 0 0 1em violet, 0 0 1em rgb(216, 98, 216);
    width: 200px;
    height: 70px;

}

@media(max-width: 600px) {

    #replay {
        width: fit-content;
        height: fit-content;
    }

    h2 {
        font-size: medium;
    }

    #ans {

        flex-direction: column;
        gap: 15px;
        padding-top: 10px;
    }

    .divp {
        gap: 15px;
    }

   
}